:host {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

mat-progress-bar {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 2;
    height: 1px;
}

p {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 2;
}